
<div>
    <h1>Learderboard</h1>
    <p>Vos informations</p>
</div>
<% @users.each do |user| %>
  <div style="background-color:blue" class="d-flex aaa">
    <div class="img-leader">
      <%= cl_image_tag current_user.photo.key, height: 100, width: 100, crop: :fill, class:"img-leader-link" %>
    </div>
    <%= user.username %>
  </div>
<% end %>

