<h1>Choose the category</h1>

<%= link_to "Challenge solo", challenges_path(category: 0) %>
<br />
<%= link_to "Challenge amis", challenges_path(category: 1) %>
<br />
<%= link_to "Challenge group", challenges_path(category: 2) %>