<div class="">
  
  <h1 class="text-center m-3">Bienvenue <%= current_user.username %></h1>
  <h2 class="text-center bg-primary text-white my-3 py-2">Que veux tu faire aujourd'hui?</h2>

  <%= link_to challenges_path(category: :solo) do %>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2>Défi solo</h2>
        <p>Choisi un des trois défis proposé et lance toi en <strong>solitaire</strong>.</p>
      </div>
    </div>
  <% end %>
  <br />
  <%= link_to challenges_path(category: :friend) do %>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2>Défi amis</h2>
        <p>Optimises tes relations avec tes <strong>proches</strong>.</p>
      </div>
    </div>
  <% end %>
  <br />
  <%= link_to challenges_path(category: :grouped) do %>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2>Défi groupé</h2>
        <p>Choisi un des trois défis proposé et lance toi en <strong>groupe</strong>.</p>
      </div>
    </div>
  <% end %>

</div>